{{post.body}}
<br>
{{post.author}}
<br>
{{post.notes}}
{{#each post.answers as |answer|}}
  {{answer.body}}
  <br>
  {{answer.author}}
{{/each}}
<br>
<a class="waves-effect waves-light btn-large" {{action 'delete' post}}>Delete</a>
